@import "../../../styles/mixins.scss";

p {
    @include center-element;
    .date {
        margin: 0 2rem;
        text-align: center;
        width: 200px;
    }
    .icon {
        cursor: pointer;
    }
}