$primary-bg-color: #fff;
$primary-text-color: #333;
$accent-color: #dc3545;
$primary-light-color: #f4f4f4;
$accent-link-color: #666;

//-----------------------------------------//


$bg: $primary-bg-color;
$text: $primary-text-color;
$red: $accent-color;
$light: $primary-light-color;
$link-hover: $accent-link-color;


//------------------------------------------//

$animation: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);