<section>
    <header>
        Organizer: <strong>{{dateService.date | async | moment: "dddd DD MMMM YYYY"}}</strong>
        <hr/>
    </header>
    <main>
        <ul>
            <li class="task"> 
                <span>
                    <strong>1</strong>
                    Task name
                </span>
                <button type="button" class="btn btn-primary remove-btn">
                    <mat-icon>cancel</mat-icon>Remove task</button>
            </li>
        </ul>
    </main>
    <footer>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <input formControlName="task" type="text">
            <button 
            type="submit"
            class="btn btn-primary btn-block submit-btn"
            [disabled]="form.invalid"
            ><mat-icon>check_box</mat-icon>Add note</button>
        </form>
    </footer>
</section>