<section>
    <header>
        Organizer: <strong>{{dateService.date | async | moment: "dddd DD MMMM YYYY"}}</strong>
        <hr/>
    </header>
    <main>
        <ul *ngIf="tasks.length; else noTasks">
            <li 
            *ngFor="let task of tasks let idx = index"
            class="task"> 
                <span>
                    <strong>{{idx + 1}}</strong>
                    {{task.title}}
                </span>
                <button 
                (click)="remove(idx)"
                 type="button" 
                 class="btn btn-primary remove-btn">
                    <mat-icon>cancel</mat-icon>Remove task</button>
            </li>
        </ul>
    </main>
    <footer>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <input formControlName="title" type="text">
            <button 
            type="submit"
            class="btn btn-primary btn-block submit-btn"
            [disabled]="form.invalid"
            ><mat-icon>check_box</mat-icon>Add note</button>
        </form>
    </footer>
</section>

<ng-template #noTasks>
    <p>You haven't got tasks for this date yet</p>
</ng-template>